{% extends 'base.html' %}

{% block title %}
    Ваш кошик товарів - RvShop
{% endblock %}

{% block content %}

    <div class="card mb-3" style="width: 2000px">
        <div class="card-header">
            <h1>Кошик товарів</h1>
        </div>
        {% if cart|length > 0 %}
            {% for item in cart %}
                <div class="card-body">
                    <div class="media">
                        {% if item.product.img %}
                            <a href="{{ item.product.get_absolute_url }}">
                                <img src="{{ item.product.img.url }}" width="300">
                            </a>
                        {% endif %}
                        <div class="media-body">
                            <h5 class="card-title">Товар: <a
                                    href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a></h5>
                            <br>
                            <h5 class="card-text">{{ item.total_price_view }} грн</h5>
                            <h6 class="card-text">Артикул: {{ item.product.article }}</h6>
                            <br>

                            <p class="card-text">
                                {% if item.quantity > 0 %}
                                    <a href="{% url 'cart_minus_quantity' item.product.pk %}"
                                       class="btn btn-light btn-block">-</a>
                                {% endif %}{{ item.quantity }}
                                <a href="{% url 'cart_add_quantity' item.product.pk %}"
                                   class="btn btn-light btn-block">+</a></p>
                            <br>
                            <a href="{% url 'cart_remove' item.product.pk %}" class="btn btn-secondary btn-block">Видалити
                                з кошику</a>

                        </div>
                        <hr>
                    </div>
                </div>
            {% endfor %}
            <div class="card-footer d-flex justify-content-between">
                <h3>Загальна ціна:</h3>
                <h3 style="color: red; margin-left: 5px"> {{ cart.get_total_price_for_template }} грн</h3>
                <div class="buttons d-flex justify-content-between"></div>
                <input type="button" class="btn btn-primary btn-block" style="margin-right: 50px; margin-left: 400px"
                       onclick="history.back();" value="Повернутись назад"/>
                <a href="{% url 'order_creation' %}" class="btn btn-success btn-block"><h5>Оформити замовлення</h5></a>
            </div>
        {% else %}
            <div class="card-header text-muted">
                <h3>Кошик порожній. Але це можна виправити :)</h3>
            </div>
        {% endif %}

    </div>
{% endblock %}