venv
.idea
*.pyc
ABOUT CART CREATION
*.ini
migrations
media
RvShop img
*.env
.vscode
__pycache__
celerybeat-schedule
!/celerybeat-schedule.bak
!/celerybeat-schedule.dat
!/celerybeat-schedule.dir
