{% extends 'base.html' %}

{% block title %}
    RvShop in Ukraine - the best variant for you!
{% endblock %}

{% block content %}


    <div id="carouselExample" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            {% for item in recommend_prod %}
                <div class="carousel-item active">

                    <a href="{{ item.product_subcategory.get_absolute_url }}"><img src="{{ item.photo.url }}"
                                                                                   style="width: 1000px"
                                                                                   class="d-block w-100" alt="..."></a>

                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <br>


    <div id="tabs" style="margin-right: 80px; margin-top: 50px">
        <a href="#content1" style="margin-left: 190px">Топ продажу</a>
        <a href="#content2" style="margin-left: 190px">б/у Apple</a>
        <a href="#content3" style="margin-left: 190px">Акустика та гаджети</a>
        <a href="#content4" style="margin-left: 190px">Аксесуари</a>

        <div class="tabs_content">
            <div id="content1" style="width: 1300px; margin-left: 50px; display: block">

                <div class="top_sell1">
                    {% for item in top_sell %}
                        <div class="card" style="margin-left: 20px; margin-right: 20px">
                            {% if item.img %}
                                <a href="{{ item.get_absolute_url }}"><img
                                        src="{{ item.img.url }}" class="card-img-top" alt="..."></a>
                            {% endif %}
                            <div class="card-body">
                                <h5
                                        class="card-title ">{{ item.name|truncatewords:8 }}
                                </h5>
                                <div class="hr">
                                    <hr>
                                </div>

                                <div class="prices d-flex justify-content-between">
                                    {% if item.discount_availability %}
                                        <strike><h6 class="card-text-price">{{ item.price_view }} грн</h6></strike>
                                        <h5 class="card-text-price-disc"
                                            style="color: red">{{ item.price_with_discount_view }}
                                            грн</h5>
                                    {% else %}
                                        <h5 class="card-text">{{ item.price_with_discount_view }} грн</h5>
                                    {% endif %}
                                </div>

                            </div>
                            <a href="{% url 'cart_add' item.pk %}" class="btn btn-danger btn-block"
                               style="margin-left: 65px">
                                Додати до кошику
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <script type="text/javascript">
                    $('.top_sell1').slick({
                        dots: true,
                        infinite: false,
                        speed: 300,
                        slidesToShow: 4,
                        slidesToScroll: 4,
                        responsive: [
                            {
                                breakpoint: 1024,
                                settings: {
                                    slidesToShow: 4,
                                    slidesToScroll: 3,
                                    infinite: true,
                                    dots: true
                                }
                            },
                            {
                                breakpoint: 600,
                                settings: {
                                    slidesToShow: 2,
                                    slidesToScroll: 2
                                }
                            },
                            {
                                breakpoint: 480,
                                settings: {
                                    slidesToShow: 1,
                                    slidesToScroll: 1
                                }
                            }
                        ]
                    });
                </script>


                <div class="top_sell2">
                    {% for item in top_sell_sec %}
                        <div class="card" style="margin-left: 20px; margin-right: 20px">
                            {% if item.img %}
                                <a href="{{ item.get_absolute_url }}"><img
                                        src="{{ item.img.url }}" class="card-img-top" alt="..."></a>
                            {% endif %}
                            <div class="card-body">
                                <h5
                                        class="card-title ">{{ item.name|truncatewords:8 }}
                                </h5>
                                <div class="hr">
                                    <hr>
                                </div>

                                <div class="prices d-flex justify-content-between">
                                    {% if item.discount_availability %}
                                        <strike><h6 class="card-text-price">{{ item.price_view }} грн</h6></strike>
                                        <h5 class="card-text-price-disc"
                                            style="color: red">{{ item.price_with_discount_view }}
                                            грн</h5>
                                    {% else %}
                                        <h5 class="card-text">{{ item.price_with_discount_view }} грн</h5>
                                    {% endif %}
                                </div>

                            </div>
                            <a href="{% url 'cart_add' item.pk %}" class="btn btn-danger btn-block"
                               style="margin-left: 65px">
                                Додати до кошику
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <script type="text/javascript">
                    $('.top_sell2').slick({
                        dots: true,
                        infinite: false,
                        speed: 300,
                        slidesToShow: 4,
                        slidesToScroll: 4,
                        responsive: [
                            {
                                breakpoint: 1024,
                                settings: {
                                    slidesToShow: 4,
                                    slidesToScroll: 3,
                                    infinite: true,
                                    dots: true
                                }
                            },
                            {
                                breakpoint: 600,
                                settings: {
                                    slidesToShow: 2,
                                    slidesToScroll: 2
                                }
                            },
                            {
                                breakpoint: 480,
                                settings: {
                                    slidesToShow: 1,
                                    slidesToScroll: 1
                                }
                            }
                        ]
                    });
                </script>


            </div>
            <div id="content2" style="width: 1300px; margin-left: 50px; display: block">

                <div class="bu-apple1" style="display:block;">
                    {% for item in bu_apple %}
                        <div class="card" style="margin-left: 20px; margin-right: 20px">
                            {% if item.img %}
                                <a href="{{ item.get_absolute_url }}"><img
                                        src="{{ item.img.url }}" class="card-img-top" alt="..."></a>
                            {% endif %}
                            <div class="card-body">
                                <h5
                                        class="card-title ">{{ item.name|truncatewords:8 }}
                                </h5>
                                <div class="hr">
                                    <hr>
                                </div>

                                <div class="prices d-flex justify-content-between">
                                    {% if item.discount_availability %}
                                        <strike><h6 class="card-text-price">{{ item.price_view }} грн</h6></strike>
                                        <h5 class="card-text-price-disc"
                                            style="color: red">{{ item.price_with_discount_view }}
                                            грн</h5>
                                    {% else %}
                                        <h5 class="card-text">{{ item.price_with_discount_view }} грн</h5>
                                    {% endif %}
                                </div>

                            </div>
                            <a href="{% url 'cart_add' item.pk %}" class="btn btn-danger btn-block"
                               style="margin-left: 65px">
                                Додати до кошику
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <script type="text/javascript">
                    $('.bu-apple1').slick({
                        dots: true,
                        infinite: false,
                        speed: 300,
                        slidesToShow: 4,
                        slidesToScroll: 4,
                        responsive: [
                            {
                                breakpoint: 1024,
                                settings: {
                                    slidesToShow: 4,
                                    slidesToScroll: 3,
                                    infinite: true,
                                    dots: true
                                }
                            },
                            {
                                breakpoint: 600,
                                settings: {
                                    slidesToShow: 2,
                                    slidesToScroll: 2
                                }
                            },
                            {
                                breakpoint: 480,
                                settings: {
                                    slidesToShow: 1,
                                    slidesToScroll: 1
                                }
                            }
                        ]
                    });
                </script>


            </div>
            <div id="content3">Содержимое 3</div>
            <div id="content4">Содержимое 4</div>
        </div>
    </div>

    <script>
        $("#tabs>a").click(function () {

            $("#tabs>a").removeClass("current");
            $(this).addClass("current");

            $(".tabs_content>div").hide();
            t_content = $(this).attr("href");
            $(t_content).show();

            return false
        })
        $("#tabs>a:first").trigger("click");
    </script>

    {% for info in home_info %}
        <div class="card mb-8" style="background-color: black;">
            <div class="card-body">
                <p class="card-text">{{ info.title|safe }}</p>
                <p class="card-text" style="margin-top: 40px">{{ info.text|safe }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}
