<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>


<div class="order" style="background-color: #1d1d1d; color: white; border: 2px whitesmoke;">
    <h1 style="color:lawngreen;">{{ success_msg }}</h1>
    <br>
    <h2>{{ order_num }}</h2>
    <h2>{{ order_price_uah }}</h2>
    <h2>{{ order_price_usd }}</h2>
    <br>
    <h2>{{ last_msg }}</h2>
</div>


</body>
</html>