<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>


<div class="order" style="background-color: #1d1d1d; color: white; border: 2px whitesmoke;">
    <h1 style="color:lawngreen;">{{ success_msg }}</h1>
    <br>
    <h2>{{ order_num }}</h2>
    <h2>{{ order_price_uah }}</h2>
    <h2>{{ order_price_usd }}</h2>
    <br>
    <h2>{{ last_msg }}</h2>
</div>

{#    <a href="{{ item.product.get_absolute_url }}" class="product-link">#}
{#        <div class="product">#}
{#            <div class="image">#}
{#                <img src="{{ item.product.img.url }}" alt="">#}
{#            </div>#}
{##}
{#            <div class="info">#}
{##}
{#                <div class="product-name" style="width: 306px; height: 50.4px">#}
{#                    <h4>{{ item.product.name|truncatewords:7 }}</h4>#}
{#                </div>#}
{##}
{##}
{#                <div class="info-price">#}
{#                    {% if item.product.discount_availability %}#}
{##}
{#                        <span class="discount">-{{ item.product.discount }}%</span>#}
{#                        <span class="price"#}
{#                              style="margin-left: 63px">{{ item.product.price_with_discount_view }} <small>₴</small></span>#}
{##}
{#                    {% else %}#}
{#                        <span class="price">{{ item.product.price_view }} <small>₴</small></span>#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </a>#}


</body>
</html>