{% extends 'base.html' %}

{% block title %}Order #{{ order.id }}{% endblock %}

{% block content %}

    <div class="card mb-3" style="width: 2000px;">
        <h1 style="text-align: center; margin-top: 20px; color: lawngreen">Order #{{ order.id }} successfully
            placed!</h1>
        <br>
        <hr style="height: 30px">
        {% for item in items %}
            <div class="row g-0">
                <div class="col-md-4">

                    {% if item.product.img %}
                        <img src="{{ item.product.img.url }}" class="img-fluid rounded-start" alt="..." width="300">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">

                        <h5 class="card-title">{{ item.product.name }} - {{ item.quantity }} units.</h5>

                        <br>
                        <h5 class="card-text">{{ item.get_total_price_view }} <small>UAH</small></h5>
                        <h5 class="card-text">{{ item.get_total_price_usd_view }} <small>$</small></h5>

                        <h6 class="card-text">Product article: {{ item.product.article }}</h6>
                        <br>


                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}

        <h5 style="margin-left: 5px; margin-bottom: 5px; width: 700px">Total price in
            <small>UAH</small>: {{ order.order_total_price_view }} <small>UAH</small></h5>
        <h5 style="margin-left: 5px; margin-bottom: 5px; width: 700px">Total price in
            <small>USD</small>: {{ order.order_total_price_usd_view }} <small>$</small></h5>
        <hr>
        <h5 style="margin-left: 20px; margin-bottom: 10px">Wait for a call from manager</h5>

    </div>

{% endblock %}
