{% extends 'base.html' %}

{% block title %}
    Купуй техніку Apple на RvShop
{% endblock %}


{% block content %}

    {% for product in page_obj.object_list %}
        <div class="card" style="width: 18rem;">
            {% if product.img %}
                <a href="{{ product.get_absolute_url }}"><img
                        src="{{ product.img.url }}" class="card-img-top" alt="..."></a>
            {% endif %}
            <div class="card-body">
                {#                <a href="{{ product.get_absolute_url }}">#}
                <h5
                        class="card-title ">{{ product.name|truncatewords:8 }}
                </h5>
                {#                </a>#}
                <div class="hr">
                    <hr>
                </div>

                <div class="prices d-flex justify-content-between">
                    {% if product.discount_availability %}
                        <strike><h6 class="card-text-price">{{ product.price_view }} грн</h6></strike>
                        <h5 class="card-text-price-disc" style="color: red">{{ product.price_with_discount_view }}
                            грн</h5>
                    {% else %}
                        <h5 class="card-text">{{ product.price_with_discount_view }} грн</h5>
                    {% endif %}
                </div>

            </div>
            <a href="{% url 'cart_add' product.pk %}" class="btn btn-danger btn-block" style="margin-left: 8px">
                Додати до кошику
            </a>
        </div>
    {% endfor %}



{% endblock %}

{% block sort %}
    <form action="" method="post" style="width: 20%">
        {% csrf_token %}
        {{ sort_form }}

        <button type="submit" class="btn btn-dark btn-block" style="margin-top: 10px">Применить</button>
    </form>
{% endblock %}
